body{
	text-align: center;
	margin: 10;
	font-family: Comic sans, Arial, sans-serif;
	font-size: 24px;
}
input{
	display: inline-block;
	margin: 20px auto;
	border: 2px solid #eee;
	padding: 10px 20px;
	font-family: Comic sans, Arial, sans-serif;
	font-size: 24px;
}
.tdItem{
	text-align: left;
	padding: 10px;
	cursor: default;
	border-radius: 7px;
}
.tdItem:hover{
	background-color: lightblue;
}
	